# dell specific settings
#font pango:System San Francisco Display 10

# Sreen brightness controls
bindsym XF86MonBrightnessUp exec xbacklight -inc 10 # increase screen brightness
bindsym XF86MonBrightnessDown exec xbacklight -dec 9.8 # decrease screen brightness

# Media player controls
bindsym XF86AudioPlay exec ~/bin/playpause.sh
bindsym XF86AudioNext exec playerctl next
bindsym XF86AudioPrev exec playerctl previous

exec_always --no-startup-id "xinput set-prop 'DLL0704:01 06CB:76AE Touchpad' 'libinput Natural Scrolling Enabled' 1"

exec_always --no-startup-id $HOME/.config/polybar/launch.sh dell
