# dell specific settings
font pango:System San Francisco Display 10

# Sreen brightness controls
bindsym XF86MonBrightnessUp exec xbacklight -inc 10 # increase screen brightness
bindsym XF86MonBrightnessDown exec xbacklight -dec 9.8 # decrease screen brightness

exec_always --no-startup-id $HOME/.config/polybar/launch.sh dell
