# x220 specific

font pango:System San Francisco Display 08
exec_always --no-startup-id "xinput set-prop 'SynPS/2 Synaptics TouchPad' 'libinput Natural Scrolling Enabled' 1"

# Sreen brightness controls
bindsym XF86MonBrightnessUp exec light -A 5
bindsym XF86MonBrightnessDown exec light -U 5

exec_always --no-startup-id $HOME/.config/polybar/launch.sh x220
